*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 25px;
    background-image: url(https://i.pinimg.com/originals/bc/24/4b/bc244b798024177af0449f2e37403079.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
body h3, p{
    display: flex;
    justify-content: center;
}